Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config-h.in
config-h.in~
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
foo
gesture.o
gesturemodel
gesturemodel_test.o
hmm
hmm.o
hmm_test.o
install-sh
javatest/TestHarness.class
javatest/logic/Gesture.class
javatest/logic/Quantizer.class
lib/.deps/
lib/.hmm.c.swp
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/gesture.lo
lib/gesture.o
lib/gesturemodel.lo
lib/gesturemodel.o
lib/hmm.lo
lib/hmm.o
lib/libwiigestures.la
lib/observation.lo
lib/observation.o
lib/quantizer.lo
lib/quantizer.o
lib/util.lo
lib/util.o
libtool
ltmain.sh
missing
observation.o
quantizer
quantizer.o
quantizer_test.o
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/hmm_grab
src/hmm_grab.o
src/quantizer_grab
src/quantizer_grab.o
stamp-h1
test/.deps/
test/.hmm_test.c.swp
test/.libs/
test/Makefile
test/Makefile.in
test/gesturemodel_test
test/gesturemodel_test.o
test/hmm_test
test/hmm_test.o
test/quantizer_test
test/quantizer_test.o
util.o
